.task::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: rgb(241, 28, 28);
  }
  .completed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: rgb(42, 238, 42);
}
.svg{
  width: 25px;
  height: 25px;
  color: red;
}